<div class="row">
  <div class="small-12 columns">
    <h1>Sites</h1>
    <%= link_to('New', new_site_path, class: 'button') if policy([:guts, :site]).create? %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @sites.size > 0 %>
      <table>
        <tbody>
          <%= render partial: 'site_row', collection: @types %>
        </tbody>
      </table>
    <% else %>
      <p>No additional sites have been added.</p>
    <% end %>
  </div>
</div>
