Gemfile.lock
/.bundle/
/vendor/bundle
/log/*.log
/tmp
/pkg/
/coverage
/.yardoc
/doc/*
!doc/extra/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-journal
/test/dummy/log/*.log
/test/dummy/tmp/
/test/dummy/.sass-cache
/test/dummy/public/system/guts