<div class="row">
  <div class="small-12 columns">
    <h1>Editing Metafield<% if @object.try(:title) %> <span class="sub_title">for <%= sub_title_for @object %>: <%= @object.try(:title) %></span><% end %></h1>
  </div>
</div>

<div class="row">
  <%= render 'form' %>
</div>
