<div class="row">
  <div class="small-12 columns">
    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-angle-left fa-2x"></i></a>
  </div>
</div>

<%= yield :content_before %>
<%= yield %>
<%= yield :content_after %>
