<div class="row">
  <div class="small-12 columns">
    <h1>Navigations</h1>
    <%= link_to('New', new_navigation_path, class: 'button') if policy([:guts, :navigation]).create? %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% if @navigations.size > 0 %>
    <%= render partial: 'navigation_row', collection: @navigations %>
  <% else %>
    <div class="small-12 columns">
      <p>No navigational menus have been added.</p>
    </div>
  <% end %>
</div>
