<p>Hi, <%= @user.name %></p>
<p>You are receiving this email because you've requested a new password.</p>
<p>Please click <%= link_to 'here', reset_password_session_url(token: @token) %> to reset your password. We will automatically generate you a secure password for future use.</p>
