<div class="row">
  <div class="small-12 columns">
    <h1>Editing Navigation Item<% if @navigation %> <span class="sub_title">for <%= @navigation.title %><% end %></span></h1>
  </div>
</div>

<div class="row">
  <%= render "form" %>
</div>